.fondoBody {
  font-family: "Playfair Display", serif;

  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 46rem;

}

.sombra {
  padding: 2%;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.centrar {
  display:flex;
  justify-content: center;
  align-items: center;
}

input {
  color: white;
}

form {
  width: 95%;
  margin: 5% auto;
}

table,
mat-form-field,
input {
  width: 100%;
}

mat-label {
  color: white;
}

td {
  padding-right: 8px;
}

.imagen img {
  max-height: 40rem;
  width: 90%;
}

.logoRegister-login span {
  color: #b70e21;
}

.logoRegister-login {
  text-align: center;
  font-size: 3em;
  color: #fff;
  text-transform: none;
  margin-top: 10%;
}




