<div class="fondoBody centrar">
  <div class="container-faqs">
    <h1 class="centrar" style="color: aliceblue">PREGUNTAS FRECUENTES</h1>
    <mat-tab-group
      animationDuration="0ms"
      [color]="'white'"
      mat-align-tabs="center"
      class="centrar"
    >
      <mat-tab>
        <ng-template class="sombra" mat-tab-label>
          <div>
            <img
              src="../../../assets/images/Faqs/500_F_419702173_QlsQFOmffS4dWOt3U5PnkvScD24kwoRC.jpg"
              alt=""
            />
          </div>
        </ng-template>
        <!-- Preguntas Metodos de pago -->
        <div class="contenedor-preguntas activo" data-categoria="metodos-pago">
          <div class="contenedor-pregunta">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="texto"> ¿Puedo pagar con transferecia bancaria? </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
                distinctio mollitia nihil modi explicabo nisi omnis, voluptates,
                accusamus nobis quo dolorem quas sit molestiae quae at quasi
                consequuntur exercitationem magni eveniet voluptate aliquid
                voluptas. Error sapiente accusamus distinctio amet ducimus velit
                non natus, ut magnam neque corporis quibusdam molestias
                reiciendis voluptate aliquam enim porro aut. Ut ea maiores
                facere voluptatum eveniet rerum deserunt quas quibusdam ullam et
                unde a ipsum error iusto mollitia iste quis voluptas, saepe
                earum optio fuga repudiandae beatae. At, consequatur? Aliquid
                corrupti quia non distinctio facilis voluptatem, officiis
                pariatur, atque, necessitatibus nihil neque eligendi reiciendis
                dicta.
              </ng-template>
            </mat-expansion-panel>
          </div>
          <div class="contenedor-pregunta">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="texto"> ¿Puedo pagar en efectivo? </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
                distinctio mollitia nihil modi explicabo nisi omnis, voluptates,
                accusamus nobis quo dolorem quas sit molestiae quae at quasi
                consequuntur exercitationem magni eveniet voluptate aliquid
                voluptas. Error sapiente accusamus distinctio amet ducimus velit
                non natus, ut magnam neque corporis quibusdam molestias
                reiciendis voluptate aliquam enim porro aut. Ut ea maiores
                facere voluptatum eveniet rerum deserunt quas quibusdam ullam et
                unde a ipsum error iusto mollitia iste quis voluptas, saepe
                earum optio fuga repudiandae beatae. At, consequatur? Aliquid
                corrupti quia non distinctio facilis voluptatem, officiis
                pariatur, atque, necessitatibus nihil neque eligendi reiciendis
                dicta.
              </p>
            </mat-expansion-panel>
          </div>
          <div class="contenedor-pregunta">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="texto"> ¿Puedo pagar en cuotas? </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
                distinctio mollitia nihil modi explicabo nisi omnis, voluptates,
                accusamus nobis quo dolorem quas sit molestiae quae at quasi
                consequuntur exercitationem magni eveniet voluptate aliquid
                voluptas. Error sapiente accusamus distinctio amet ducimus velit
                non natus, ut magnam neque corporis quibusdam molestias
                reiciendis voluptate aliquam enim porro aut. Ut ea maiores
                facere voluptatum eveniet rerum deserunt quas quibusdam ullam et
                unde a ipsum error iusto mollitia iste quis voluptas, saepe
                earum optio fuga repudiandae beatae. At, consequatur? Aliquid
                corrupti quia non distinctio facilis voluptatem, officiis
                pariatur, atque, necessitatibus nihil neque eligendi reiciendis
                dicta.
              </p>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <img
            src="../../../assets/images/Faqs/free-delivery-neon-1500 x 1200.jpg"
            alt=""
          />
        </ng-template>
        <div class="contenedor-preguntas activo" data-categoria="metodos-pago">
          <div class="contenedor-pregunta">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="texto"> ¿Tienen entregas a domicilio? </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Realizamos entragas puerta a puerta .
              </p>
            </mat-expansion-panel>
          </div>
          <div class="contenedor-pregunta">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="texto"> ¿Realizan envios al interior? </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Si ,porsupuesto .Por correo argentino,encomiendo o el transporte de omnibus que llegue a tu localidad o provincia.
              </p>
            </mat-expansion-panel>
          </div>
          <div class="contenedor-pregunta">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="texto"> PREGUNTAS </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
                distinctio mollitia nihil modi explicabo nisi omnis, voluptates,
                accusamus nobis quo dolorem quas sit molestiae quae at quasi
                consequuntur exercitationem magni eveniet voluptate aliquid
                voluptas. Error sapiente accusamus distinctio amet ducimus velit
                non natus, ut magnam neque corporis quibusdam molestias
                reiciendis voluptate aliquam enim porro aut. Ut ea maiores
                facere voluptatum eveniet rerum deserunt quas quibusdam ullam et
                unde a ipsum error iusto mollitia iste quis voluptas, saepe
                earum optio fuga repudiandae beatae. At, consequatur? Aliquid
                corrupti quia non distinctio facilis voluptatem, officiis
                pariatur, atque, necessitatibus nihil neque eligendi reiciendis
                dicta.
              </p>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <img
            src="../../../assets/images/Faqs/seguridad 1225x980.jpg"
            alt=""
          />
        </ng-template>
        <div class="contenedor-preguntas activo" >
          <div class="contenedor-pregunta">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="texto"> ¿Como puedo saber si son confiables? </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Podes con sultar en nuestra web las empresas que nos respaldan.
                <a href="/clientes/all">Empresas que nos respaldan</a>
                </p>
            </mat-expansion-panel>
          </div>
          <div class="contenedor-pregunta">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="texto"> ¿Que pasa con mis datos personales? </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Son confidenciales y solo seran pro vistos a la persona o entidad que realice la entrega.
              </p>
            </mat-expansion-panel>
          </div>
          <div class="contenedor-pregunta">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="texto"> PREGUNTAS </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
                distinctio mollitia nihil modi explicabo nisi omnis, voluptates,
                accusamus nobis quo dolorem quas sit molestiae quae at quasi
                consequuntur exercitationem magni eveniet voluptate aliquid
                voluptas. Error sapiente accusamus distinctio amet ducimus velit
                non natus, ut magnam neque corporis quibusdam molestias
                reiciendis voluptate aliquam enim porro aut. Ut ea maiores
                facere voluptatum eveniet rerum deserunt quas quibusdam ullam et
                unde a ipsum error iusto mollitia iste quis voluptas, saepe
                earum optio fuga repudiandae beatae. At, consequatur? Aliquid
                corrupti quia non distinctio facilis voluptatem, officiis
                pariatur, atque, necessitatibus nihil neque eligendi reiciendis
                dicta.
              </p>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <img src="../../../assets/images/Faqs/banco 800 x 800.jpg" alt="" />
        </ng-template>
        <div class="contenedor-preguntas activo">
          <div class="contenedor-pregunta">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="texto"> ¿Necesito registrarme para realizar un pedido? </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                No es obligatorio ya que nos podes llamar por nuestras lineas telefonicas , pero es reconmendable para agilizar el proceso.
              </p>
            </mat-expansion-panel>
          </div>
          <div class="contenedor-pregunta">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="texto"> ¿Como puedo cambiar mi contraseña? </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Haciendo click en donde dice olvide mi contraseña en la pagina de Login.
              </p>
            </mat-expansion-panel>
          </div>
          <div class="contenedor-pregunta">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="texto"> PREGUNTAS </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
                distinctio mollitia nihil modi explicabo nisi omnis, voluptates,
                accusamus nobis quo dolorem quas sit molestiae quae at quasi
                consequuntur exercitationem magni eveniet voluptate aliquid
                voluptas. Error sapiente accusamus distinctio amet ducimus velit
                non natus, ut magnam neque corporis quibusdam molestias
                reiciendis voluptate aliquam enim porro aut. Ut ea maiores
                facere voluptatum eveniet rerum deserunt quas quibusdam ullam et
                unde a ipsum error iusto mollitia iste quis voluptas, saepe
                earum optio fuga repudiandae beatae. At, consequatur? Aliquid
                corrupti quia non distinctio facilis voluptatem, officiis
                pariatur, atque, necessitatibus nihil neque eligendi reiciendis
                dicta.
              </p>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
