<mat-toolbar>
  <mat-toolbar-row class="colorNabvar">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>

    <span
      ><a routerLink="/"
        ><img src="../../../assets/images/favicon-32x32.png" alt="Ecofer"
      /></a>
    </span>

    <span class="enviar_derecha"></span>
    <!-- <a *ngIf="(this.authService.checkLocalStorage() || usuarioGoogle)"mat-button > -->
    <a *ngIf="usuarioGoogle | async as user" mat-button routerLinkActive="active"
      ><mat-icon>shopping_cart</mat-icon></a
    ><!--carrito de compras-->
    <a
      *ngIf="!(this.authService.checkLocalStorage() && this.usuarioGoogle)"
      mat-button
      routerLink="login"
      routerLinkActive="active"
      ><mat-icon>perm_identity</mat-icon>Ingresar</a
    >
    <a
      *ngIf="!(this.authService.checkLocalStorage() && this.usuarioGoogle)"
      mat-button
      routerLink="registro"
      routerLinkActive="active"
      ><mat-icon>add_circle</mat-icon>Registrate</a
    >
    <a
      *ngIf="this.authService.checkLocalStorage() || this.usuarioGoogle"
      mat-button
      (click)="logout()"
      routerLinkActive="active"
      ><mat-icon>exit_to_app</mat-icon>Salir</a
    >
  </mat-toolbar-row>
</mat-toolbar>
