<div class="fondoBody">
  <mat-toolbar>
    <span>Crear producto</span>
  </mat-toolbar>

  <form class="sombra" [formGroup]="this.formCrearProducto">
    <div class="imagen-producto">
      <div class="imagenPrevia">
        <div *ngIf="imagenPrevia">
          <div>
            <img width="100px" [src]="imagenPrevia" alt="" />
          </div>
        </div>
        <button mat-raised-button color="primary">
          <label for="uid">Elija una imagen</label>
        </button>
        <input
          style="display: none"
          type="file"
          id="uid"
          formControlName="uid"
          name="uid"
          (change)="onFileChange($event)"
        />
      </div>
    </div>
    <div class="detalle-producto">
      <table>
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Producto</mat-label>
              <input matInput formControlName="nombre" autocomplete="off" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Cantidad a ingresar</mat-label>
              <input matInput formControlName="unidades" autocomplete="off" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Precio de costo</mat-label>
              <input
                matInput
                formControlName="precioCosto"
                autocomplete="off"
              />
            </mat-form-field>
          </td>

          <td>
            <mat-form-field appearance="fill">
              <mat-label>Precio de venta</mat-label>
              <input
                matInput
                formControlName="precioVenta"
                autocomplete="off"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Numero de serie</mat-label>
              <input
                matInput
                formControlName="numeroSerie"
                autocomplete="off"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Agente extintor</mat-label>
              <mat-select formControlName="idCategoria">
                <div *ngFor="let categoriaProd of arrayCatProductos">
                  <mat-option [value]="categoriaProd.id">
                    {{ categoriaProd.agExtintor }}
                  </mat-option>
                </div>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Clase</mat-label>
              <input
                disabled="true"
                style="color: aliceblue"
                matInput
                autocomplete="off"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Aplicativos</mat-label>
              <textarea
                disabled="true"
                style="color: aliceblue"
                matInput
                autocomplete="off"
              ></textarea>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Fuegos</mat-label>
              <textarea
                disabled="true"
                style="color: aliceblue"
                matInput
                autocomplete="off"
              ></textarea>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Descripcion</mat-label>
              <textarea
                matInput
                autocomplete="off"
              ></textarea>
            </mat-form-field>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Proveedor</mat-label>
              <mat-select formControlName="idProveedor">
                <div *ngFor="let proveedor of arrayProveedores">
                  <mat-option [value]="proveedor.id">{{
                    proveedor.nombreFantasia
                  }}</mat-option>
                </div>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Observaciones del producto</mat-label>
              <input
                matInput
                formControlName="observacionesProd"
                autocomplete="off"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table>
        <button
          mat-raised-button
          color="primary"
          (click)="crearProducto()"
          [disabled]="!formCrearProducto.valid"
        >
          Crear Producto
        </button>
      </table>
    </div>
  </form>
</div>
