.fondoBody {
  font-family: "Roboto";
  padding: 2rem;
  display: grid;
  grid-template-columns: 10% 90%;
  gap: 1rem;
  overflow: hidden;
}

.btn-group-sm > .btn,
.btn-sm {
  font-size: 27px;
}

span {
  font-size: 20px;
  font-weight: normal;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

mat-card-actions button {
  width: 100%;
}

mat-card-actions button a {
  text-decoration: none;
}

mat-card-content p {
  color:aliceblue;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
  gap: 1rem;
}

.seleccionar-productos {
  /* background: #424242; */
  margin-left: 0 auto;
  color: azure;
}

mat-card img {
  min-width: 100%;
  max-height: 150px;
}

.product-card {
  display: grid;
  height: 100%;
}

.example-header-image {
  background-image: url("../../../assets/images/favicon-32x32.png");
  background-size: cover;
}

.filtros {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.filtros input[type="radio"] {
  display: none;
}

.filtros label {
  color: #666;
  margin: 5px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  margin-left: 0;
  cursor: pointer;
}

