<div class="fondoBody">
  <div class="seleccionar-productos">
    <label>CATEGORIAS</label>
    <div class="filtros">
      <label for="eliminaFiltros">Eliminar filtros</label>
      <input
        type="radio"
        name="eliminar_Filtors"
        id="eliminaFiltros"
        (change)="eliminarFiltros()"
      />
      <ng-container *ngFor="let filtros of arrayProdFiltrados">
        <input
          type="radio"
          name="radio_filtro"
          id="{{ filtros.idCategoria }}"
          (change)="chequed(filtros.idCategoria)"
          value="{{ filtros.idCategoria }}"
        />
        <label for="{{ filtros.idCategoria }}">{{ filtros.claseProducto }}</label>
      </ng-container>
    </div>
  </div>

  <div class="grid-container">
    <div *ngFor="let producto of arrayProductos">
      <mat-card class="product-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ producto.nombreProducto }}</mat-card-title>
          <mat-card-subtitle
            >Capacidad: {{ producto.kilosProducto }} Kg
          </mat-card-subtitle>
        </mat-card-header>

        <img
          mat-card-image
          img
          alt="Imagen del producto"
          src="{{ producto.imagenProducto }}"
        />

        <mat-card-content>
          <p>Aplicativos: {{ producto.aplicativos }}</p>
          <p>Fuegos: {{ producto.fuegos }}</p>
        </mat-card-content>

        <mat-card-actions>
          <a
            type="button"
            class="btn btn-primary btn-sm"
            [routerLink]="['single', producto.idProducto]"
          >
            <mat-icon>arrow_forward_ios</mat-icon></a
          >

          <a type="button" class="btn btn-primary btn-sm"
            ><span>$ {{ producto.precioVenta }}</span></a
          >

          <a type="button" class="btn btn-primary btn-sm">
            <mat-icon>add_shopping_cart</mat-icon></a
          >
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
