<div class="fondoBody">
  <mat-dialog-content class="mat-typography fondoBody">
    <mat-toolbar class="centrar">
      <span>Actualizar producto</span>
    </mat-toolbar>

    <div class="row centrar">
      <form class="sombra" [formGroup]="formActualizarCatProd">
        <table mat-table matSort class="centrar">
          <tr>
            <td>
              <mat-form-field class="max-widthInput" appearance="fill">
                <mat-label>Agente extintor</mat-label>
                <input
                  matInput
                  value="{{ categoriaProducto.agExtintor }}"
                  formControlName="agExtintor"
                  autocomplete="off"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="max-widthInput" appearance="fill">
                <mat-label>Clase</mat-label>
                <input
                  matInput
                  value="{{ categoriaProducto.clase }}"
                  formControlName="clase"
                  autocomplete="off"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="max-widthInput" appearance="fill">
                <mat-label>Descripcion</mat-label>
                <input
                  matInput
                  value="{{ categoriaProducto.descripcion }}"
                  formControlName="descripcion"
                  autocomplete="off"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="max-widthInput" appearance="fill">
                <mat-label>Fuegos</mat-label>
                <textarea
                  matInput
                  value="{{ categoriaProducto.fuegos }}"
                  formControlName="fuegos"
                  autocomplete="off"
                ></textarea>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="max-widthInput" appearance="fill">
                <mat-label>Aplicativos</mat-label>
                <textarea
                  matInput
                  value="{{ categoriaProducto.aplicativos }}"
                  formControlName="aplicativos"
                  autocomplete="off"
                ></textarea>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <div class="row">
          <button
            mat-raised-button
            color="primary"
            (click)="actualizarCategoriaProd(formActualizarCatProd.value)"
          >
            Actualizar
          </button>
        </div>
      </form>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Volver</button>
  </mat-dialog-actions>
</div>
