@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap");
.fondoBody {

  /* line-height: 1.6; */
  font-family: "Playfair Display", serif;
  /* padding: 0 1.5em;*/
  height: 46rem;
  overflow:hidden;
}

.banner {
  width: 100vw;
  height: 50vh;
  position: relative;
  background-image: url(../../../assets/images/Home/banner.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/*COLOR SOBRE EL BANER*/
.banner:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(138, 8, 8, 0.76);
  position: absolute;
  top: 0;
  left: 0;
}

.fondoBody mat-tab-group {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;

}

a img {
  width: 10vw;
  height: 10vh;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px;
}

.espaciado {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 16px;
  padding: 16px;

}

mat-tab .centrar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;

}

.fondoSubTitle {
  background: rgba(138, 8, 8, 0.76);
  height: 7vh;
  display: flex;
  align-items: center;
}

.fondoSubTitle h2 {
  font-size: 18px;
  margin-top: 20px;
  padding: 0px 20px;
  color: #fff;
}

.centrar p {
  display: flex;
  justify-content: center;
}

.sombra {

  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

/* active tab */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color:lightyellow !important;
  background-color: green;
  border-radius: 10px;
  }

  /* ink bar */
  /* ::ng-deep .mat-ink-bar {
  background-color: var(--primary-color,#1F89CE) !important;
  } */

