<div class="fondoBody">
  <div class="banner"></div>

  <mat-tab-group dynamicHeight [color]="'white'" mat-align-tabs="center">
    <!--   TODOS JUNTOS   -->
    <mat-tab>
      <ng-template mat-tab-label>

        NUESTROS SERVICIOS
            </ng-template>
      <div class="espaciado">

        <div class="centrar sombra">
          <a routerLink="productos"
            ><img src="../../../assets/images/articulos/matafuegos.jpg"
          /></a>
          <p>EXTINTORES</p>
        </div>

        <div class="centrar sombra">
          <a routerLink="productos"
            ><img src="../../../assets/images/articulos/carteleria.jpg"
          /></a>
          <p>CARTELERIA</p>
        </div>

        <div class="centrar sombra">
          <a routerLink="productos"
            ><img src="../../../assets/images/articulos/covid-articulo.jpg"
          /></a>
          <p>SANITIZACION</p>
        </div>

        <div class="centrar sombra">
          <a routerLink="productos"
            ><img
              src="../../../assets/images/articulos/desratizacion-articulo.jpg"
          /></a>
          <p>FUMIGACION</p>
        </div>

        <div class="centrar sombra">
          <a routerLink="productos"
            ><img
              src="../../../assets/images/articulos/fumigacion-articulos.jpg"
          /></a>
          <p>CONTROL DE PLAGAS</p>
        </div>

        <div class="centrar sombra">
          <a routerLink="productos"
            ><img src="../../../assets/images/articulos/limpieza de tanque.jpg"
          /></a>
          <p>LIMPIEZA DE TANQUES</p>
        </div>

        <div class="centrar sombra">
          <a routerLink="productos"
            ><img src="../../../assets/images/articulos/marcas.jpg"
          /></a>
          <p>NUESTROS CLIENTES</p>
        </div>
      </div>
    </mat-tab>
    <!--    POR SEPARADO   -->
    <mat-tab>
      <ng-template mat-tab-label>
        <div>
        EXTINTORES
      </div>
      </ng-template>
      <div class="centrar">
        <a routerLink="productos"
          ><img class="sombra" src="../../../assets/images/articulos/matafuegos.jpg"
        /></a>
        <div class="fondoSubTitle">
          <h2>Extintores ,todas las clases.Hogares y empresas</h2>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div>
        CARTELERIA
      </div>
      </ng-template>
      <div class="centrar">
        <a routerLink="productos"
          ><img class="sombra" src="../../../assets/images/articulos/carteleria.jpg"
        /></a>
        <div class="fondoSubTitle">
          <h2>Señanliza tu empresa, deposito o local</h2>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div>
        SANITIZACION
      </div>
      </ng-template>
      <div class="centrar">
        <a routerLink="productos"
          ><img class="sombra" src="../../../assets/images/articulos/covid-articulo.jpg"
        /></a>
        <a routerLink="productos"
          ><img class="sombra" src="../../../assets/images/articulos/alcohol-en-gel.jpg"
        /></a>
        <div class="fondoSubTitle">
          <h2>Mantene tu hogar o empresa limpio y libre de corona virus</h2>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div>
        FUMIGACION
      </div>
      </ng-template>
      <div class="centrar">
        <a routerLink="productos"
          ><img class="sombra" src="../../../assets/images/articulos/fumigacion-articulos.jpg"
        /></a>
        <a routerLink="productos"
          ><img class="sombra"
            src="../../../assets/images/articulos/desratizacion-articulo.jpg"
        /></a>
        <div class="fondoSubTitle">
          <h2>Elimina todas las plagas de tu hogar o empresa</h2>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div>
        LIMPIEZA DE TANQUES
      </div>
      </ng-template>
      <div class="centrar">
        <a routerLink="productos"
          ><img class="sombra" src="../../../assets/images/articulos/limpieza de tanque.jpg"
        /></a>
        <div class="fondoSubTitle">
          <h2>
            Limpieza y desinfeccion de tanque para que en tu hogar o empresa
            circule agua potable
          </h2>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div>
        CLIENTES
      </div>
      </ng-template>
      <div class="centrar">
        <a routerLink="clientes/all"
          ><img src="../../../assets/images/articulos/marcas.jpg"
        /></a>
        <div class="fondoSubTitle">
          <h2>Clientes que nos respaldan</h2>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
